# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Studio2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\beaum\Documents\GitHub\LesbianVampire\Studio2\.idea\.idea.Studio2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
